<h1><%= "#{@user_name.capitalize}'s Profile" %></h1>

<h2>Email</h2>
<p><%= @user_email %></p>

<h2>Interests</h2>
<ul>
	<%@user_interests.each do |interest|%>
			<li><%= interest %></li>
	<%end%>
</ul>