<!DOCTYPE html>
<html>
<head>
	<title>Acme CMS</title>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans"> -->
  <link rel="stylesheet" href="../public/stylesheets/reset.css">
  <link rel="stylesheet" href="../public/stylesheets/application.css">
  <link rel="stylesheet" href="../public/stylesheets/960_12_col.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body>
	<header class="header">
		<div class="container_12">
				<h1 id="header-title">
					Acme CMS
				</h1>
				<div class="nav grid_3 push_9">
					<ul>
						<li><a href="">New Document</a></li>
					</ul>
				</div>
		</div>
	</header>
	<section class="wrapper">
		<div class="main-content container_12">
			<div class="grid_9 push_1">
				<h1 id="edit-doc-heading">Create New Document</h1>
				<div class="grid_4 push_3" id="create-new-doc-form">
					<form class="login-form-box" action="" method="post">
						<div class="login-form-input-text">
							<label for="doc_name" class="title">Document Name</label>
							<input class="login-input" id="doc_name" name="doc_name" type="text">
						</div>
						<p class="title">File Extension</p>
						<select name="file_types">
							<option value="txt">.txt</option>
							<option value="md">.md</option>
						</select>
						<div class="submit">
							<input value="Submit" id="submit" type="submit">
						</div>
					</form>
				</div>
			</div>			
		</div>
	</section>
	<footer class="clearfix">
		<p>Signed in as Admin</p>
	</footer>
</body>
</html>